#editing,
#highlighting {
  margin: 0;
  padding: 10px;
  border: 1px solid gray;
  /* width: calc(100% - 32px); */
  height: 100%;
  width: 100%;
}

#editing,
#highlighting,
#highlighting * {
  font-size: 12pt;
  font-family: monospace;
  line-height: 20pt;
}

/* step2 */

#editing,
#highlighting {
  position: absolute;
}

/* step3 */

#editing {
  z-index: 1;
}

#highlighting {
  z-index: 0;
}

/* last step */

#editing {
  color: transparent;
  background: transparent;
  caret-color: black;
}

/* customization */

pre[class*="language-"] {
  background-color: white;
}

.line-numbers {
  background-color: #e0e0e0;
}

.line-highlight {
  background-color: #d0d0d0;
}

/* scrolling */

#editing,
#highlighting {
  overflow: auto;
  white-space: nowrap;
}

#editing {
  resize: none;
}

textarea:focus {
  outline: none;
  border-color: transparent;
}

/* .line-numbers {
  display: flex !important;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #ccc;
  flex-shrink: 0;
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;
}

.line-numbers div {
  font-size: 14px;
  line-height: 1.5;
  height: 24px;
} */

.dark {
  filter: invert(80%)
}

.terminal-container {
  bottom: 0;
  height: 200px; /* Adjust this height as needed */
  overflow-y: auto;
  background-color: black;
}

.terminal {
  font-family: monospace;
  color: limegreen;
  padding: 10px;
}

.history {
  margin-bottom: 10px;
}

.command-line {
  margin-bottom: 5px;
}

.prompt {
  color: yellow;
}

.input-line {
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: limegreen;
  outline: none;
}

.caret {
  background-color: limegreen;
  color: black;
  border: none;
  cursor: pointer;
}
