#editing,
#highlighting {
  margin: 0;
  padding: 10px;
  border: var(--border-default);
  background-color: var(--canvas-default);
  height: 100%;
  width: 100%;
}

#editing,
#highlighting,
#highlighting * {
  font-size: 12pt;
  font-family: monospace;
  line-height: 20pt;
}

/* step2 */

#editing,
#highlighting {
  position: absolute;
}

/* step3 */

#editing {
  z-index: 1;
}

#highlighting {
  z-index: 0;
}

/* last step */

#editing {
  color: transparent;
  background: transparent;
  caret-color: var(--caret-default);
}

/* customization */

pre[class*="language-"] {
  background-color: var(--bg-default);
}

.line-numbers {
  background-color: var(--bg-default);
}

.line-highlight {
  background-color: var(--bg-default);
}

/* scrolling */

#editing,
#highlighting {
  overflow: auto;
  white-space: nowrap;
}

#editing {
  resize: none;
}

textarea:focus {
  outline: none;
  border-color: transparent;
}

.dark {
  filter: invert(80%)
}

.terminal-container {
  border: 1px solid gray;
  background: "#fff";
  color: var(--canvas-default);
  font-family: monospace;
  height: 200px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  word-break: break-all;
  margin: 0;
  padding: 16px;
}

/* #history {
  margin-bottom: 10px;
} */

#input {
  display: inline;
  outline: none;
  visibility: visible;
}

#input::selection {
  color: var(--bg-default);
  background: #0F0;
}

#input:empty::before {
  content: ' ';
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

#input:focus + #caret {
  animation: blink 1s steps(5, start) infinite;
}

#input.noCaret + #caret {
  visibility: hidden;
}

#caret {
  border: 0;
  padding: 0;
  outline: none;
  background-color: #0F0;
  display: inline-block;
  font-family: monospace;
}

::-moz-selection {
  background: hsla(194, 31%, 7%, 0.1);
}

::selection {
  background: hsla(194, 31%, 7%, 0.1);
}
